<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
        
    </style>
</head>
<body>
<table class="u-pull-right">
    <h1>gumbo</h1>
</table>
</body>